

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-557596267090281552.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-557596267090281552.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-557596267090281552.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-557596267090281552.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-557596267090281552.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-557596267090281552.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-557596267090281552.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-557596267090281552.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-557596267090281552.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-557596267090281552.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-557596267090281552.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-557596267090281552.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-557596267090281552.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-557596267090281552.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-557596267090281552.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-557596267090281552.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-557596267090281552.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-557596267090281552.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-557596267090281552.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-557596267090281552.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-557596267090281552.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-557596267090281552.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-557596267090281552.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-557596267090281552.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-557596267090281552.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-557596267090281552.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-557596267090281552.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-557596267090281552.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-557596267090281552.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-557596267090281552.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-557596267090281552.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-557596267090281552.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-557596267090281552.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-557596267090281552.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-557596267090281552.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-557596267090281552.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-557596267090281552.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-557596267090281552.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-557596267090281552.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-557596267090281552.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-557596267090281552.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-557596267090281552.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-557596267090281552.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-557596267090281552.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-557596267090281552.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-557596267090281552.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-557596267090281552.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-557596267090281552.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-557596267090281552.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-557596267090281552.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-557596267090281552.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-557596267090281552.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-557596267090281552.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-557596267090281552.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-557596267090281552.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-557596267090281552.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-557596267090281552.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-557596267090281552.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-557596267090281552.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-557596267090281552.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-557596267090281552.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-557596267090281552.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-557596267090281552.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-557596267090281552.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-557596267090281552.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-557596267090281552.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-557596267090281552.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-557596267090281552.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-557596267090281552.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-557596267090281552.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-557596267090281552.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-557596267090281552.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-557596267090281552.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-557596267090281552.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-557596267090281552.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-557596267090281552.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-557596267090281552.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-557596267090281552.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-557596267090281552.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-557596267090281552.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-557596267090281552.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-557596267090281552.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-557596267090281552.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-557596267090281552.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-557596267090281552.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-557596267090281552.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-557596267090281552.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-557596267090281552.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-557596267090281552.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-557596267090281552.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-557596267090281552.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-557596267090281552.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-557596267090281552.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-557596267090281552.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-557596267090281552.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-557596267090281552.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-557596267090281552 .gp-invisible{visibility:hidden}.gps-557596267090281552 .gp-absolute{position:absolute}.gps-557596267090281552 .gp-relative{position:relative}.gps-557596267090281552 .gp-top-0{top:0}.gps-557596267090281552 .gp-z-1{z-index:1}.gps-557596267090281552 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-557596267090281552 .gp-mb-0{margin-bottom:0}.gps-557596267090281552 .gp-flex{display:flex}.gps-557596267090281552 .gp-inline-flex{display:inline-flex}.gps-557596267090281552 .gp-grid{display:grid}.gps-557596267090281552 .\!gp-hidden{display:none!important}.gps-557596267090281552 .gp-hidden{display:none}.gps-557596267090281552 .gp-h-5{height:20px}.gps-557596267090281552 .gp-h-full{height:100%}.gps-557596267090281552 .gp-w-5{width:20px}.gps-557596267090281552 .gp-w-full{width:100%}.gps-557596267090281552 .gp-max-w-full{max-width:100%}.gps-557596267090281552 .gp-cursor-default{cursor:default}.gps-557596267090281552 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-557596267090281552 .gp-flex-col{flex-direction:column}.gps-557596267090281552 .gp-items-center{align-items:center}.gps-557596267090281552 .\!gp-justify-center{justify-content:center!important}.gps-557596267090281552 .gp-justify-center{justify-content:center}.gps-557596267090281552 .gp-gap-y-0{row-gap:0}.gps-557596267090281552 .gp-overflow-hidden{overflow:hidden}.gps-557596267090281552 .gp-break-words{overflow-wrap:break-word}.gps-557596267090281552 .gp-rounded-none{border-radius:0}.gps-557596267090281552 .gp-text-center{text-align:center}.gps-557596267090281552 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-557596267090281552 .gp-no-underline{text-decoration-line:none}.gps-557596267090281552 .gp-decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-557596267090281552 .gp-opacity-25{opacity:.25}.gps-557596267090281552 .gp-opacity-30{opacity:.3}.gps-557596267090281552 .gp-opacity-75{opacity:.75}.gps-557596267090281552 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557596267090281552 .gp-duration-200{transition-duration:.2s}.gps-557596267090281552 .gp-duration-300{transition-duration:.3s}.gps-557596267090281552 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557596267090281552 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-557596267090281552 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-557596267090281552 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-557596267090281552 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-557596267090281552 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-557596267090281552 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-557596267090281552 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-visible{visibility:visible}.gps-557596267090281552 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible,.gps-557596267090281552 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-557596267090281552 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1024px){.gps-557596267090281552 .tablet\:gp-relative{position:relative}.gps-557596267090281552 .tablet\:\!gp-hidden{display:none!important}.gps-557596267090281552 .tablet\:gp-hidden{display:none}.gps-557596267090281552 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-557596267090281552 .mobile\:gp-absolute{position:absolute}.gps-557596267090281552 .mobile\:\!gp-hidden{display:none!important}.gps-557596267090281552 .mobile\:gp-hidden{display:none}.gps-557596267090281552 .mobile\:\!gp-justify-start{justify-content:flex-start!important}.gps-557596267090281552 .mobile\:\!gp-justify-center{justify-content:center!important}.gps-557596267090281552 .mobile\:\[\&\>\*\>\*\]\:\!gp-justify-start>*>*{justify-content:flex-start!important}}.gps-557596267090281552 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-557596267090281552 .\[\&_p\]\:gp-inline p{display:inline}.gps-557596267090281552 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-557596267090281552 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-557596267090281552 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g1flz3NX5E" data-id="g1flz3NX5E"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1flz3NX5E gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEnpGsjfit gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:100vh;--h-tablet:100vh;--h-mobile:auto;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_557596145925227653-2dd1557e-2ab7-4ff4-b7cd-3fe21188c511.png","height":1593,"src":"https://cdn.shopify.com/s/files/1/0562/6930/8022/files/gempages_557596145925227653-2dd1557e-2ab7-4ff4-b7cd-3fe21188c511.png","storage":"FILE_CONTENT","width":2560},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":597,"src":"https://cdn.shopify.com/s/files/1/0584/5516/2998/files/gempages_520930469076796467-f242f457-e6f5-4f67-bf6a-7782b58b563f.png?v=1720140848","storage":"FILE_CONTENT","width":960},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":450,"src":"https://cdn.shopify.com/s/files/1/0584/5516/2998/files/gempages_520930469076796467-1ba5570b-2379-4f10-abfb-656154577247.png?v=1720090114","storage":"FILE_CONTENT","width":391},"lazyLoad":false,"position":{"x":100,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gLA-eim5Po","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[7,5],"display":"fill"},"tablet":{"cols":[7,5],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center","mobile":"top"},"aspectRatio":{"desktop":"auto"}}'
        gp-href=""
        
        class="gLA-eim5Po gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--h:100vh;--h-tablet:100vh;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect-mobile:auto"
        data-id="gLA-eim5Po"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-start"
        style="--h:100vh;--h-tablet:100vh;--h-mobile:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0584/5516/2998/files/gempages_520930469076796467-1ba5570b-2379-4f10-abfb-656154577247_768x.png?v=1720090114" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzkxIiBoZWlnaHQ9IjQ1MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzkxLTQ1MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzkxIiBoZWlnaHQ9IjQ1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzkxIiBoZWlnaHQ9IjQ1MCIgZmlsbD0idXJsKCNnLTM5MS00NTApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zOTEiIHRvPSIzOTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0584/5516/2998/files/gempages_520930469076796467-f242f457-e6f5-4f67-bf6a-7782b58b563f_1024x.png?v=1720140848" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTYwIiBoZWlnaHQ9IjU5NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTYwLTU5NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTYwIiBoZWlnaHQ9IjU5NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTYwIiBoZWlnaHQ9IjU5NyIgZmlsbD0idXJsKCNnLTk2MC01OTcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NjAiIHRvPSI5NjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjU2MCIgaGVpZ2h0PSIxNTkzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yNTYwLTE1OTMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI1NjAiIGhlaWdodD0iMTU5MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjU2MCIgaGVpZ2h0PSIxNTkzIiBmaWxsPSJ1cmwoI2ctMjU2MC0xNTkzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjU2MCIgdG89IjI1NjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_557596145925227653-2dd1557e-2ab7-4ff4-b7cd-3fe21188c511.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect-mobile:auto;--d:none;--d-tablet:none;--d-mobile:block;--h:100vh;--h-tablet:100vh;--h-mobile:auto;--w-mobile:100%;--w:100%;--w-tablet:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:100% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bgi:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjU2MCIgaGVpZ2h0PSIxNTkzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yNTYwLTE1OTMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI1NjAiIGhlaWdodD0iMTU5MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjU2MCIgaGVpZ2h0PSIxNTkzIiBmaWxsPSJ1cmwoI2ctMjU2MC0xNTkzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjU2MCIgdG89IjI1NjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--bgi-tablet:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTYwIiBoZWlnaHQ9IjU5NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTYwLTU5NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTYwIiBoZWlnaHQ9IjU5NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTYwIiBoZWlnaHQ9IjU5NyIgZmlsbD0idXJsKCNnLTk2MC01OTcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05NjAiIHRvPSI5NjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--bgi-mobile:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzkxIiBoZWlnaHQ9IjQ1MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzkxLTQ1MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzkxIiBoZWlnaHQ9IjQ1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzkxIiBoZWlnaHQ9IjQ1MCIgZmlsbD0idXJsKCNnLTM5MS00NTApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zOTEiIHRvPSIzOTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="{{ "gempages_557596145925227653-2dd1557e-2ab7-4ff4-b7cd-3fe21188c511.png" | file_url }}" data-srcset="{{ "gempages_557596145925227653-2dd1557e-2ab7-4ff4-b7cd-3fe21188c511.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0584/5516/2998/files/gempages_520930469076796467-f242f457-e6f5-4f67-bf6a-7782b58b563f_1024x.png?v=1720140848" data-srcset="https://cdn.shopify.com/s/files/1/0584/5516/2998/files/gempages_520930469076796467-f242f457-e6f5-4f67-bf6a-7782b58b563f_1024x.png?v=1720140848" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0584/5516/2998/files/gempages_520930469076796467-1ba5570b-2379-4f10-abfb-656154577247_768x.png?v=1720090114" data-srcset="https://cdn.shopify.com/s/files/1/0584/5516/2998/files/gempages_520930469076796467-1ba5570b-2379-4f10-abfb-656154577247_768x.png?v=1720090114" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:20px;--pr:20px;--pt:0px;--pb:0px;--pl-tablet:20px;--pr-tablet:20px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:21px;--pr-mobile:0px;--pt-mobile:25px;--pb-mobile:0px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 7fr) minmax(0, 5fr);--w:1169px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-absolute tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-start gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:start;--o:0;--o-mobile:0"
      class="gKxI9lT-kY gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gl4YVmmOXW" data-id="gl4YVmmOXW"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:28px;--bbrr:28px;--btlr:28px;--btrr:28px;--pt:53px;--pl:37px;--pb:30px;--pr:37px;--pt-mobile:23px;--pl-mobile:15px;--pb-mobile:25px;--pr-mobile:13px;--pt-tablet:20px;--pl-tablet:20px;--pb-tablet:20px;--pr-tablet:20px;--cg:8px;--pc:start;--pc-mobile:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gl4YVmmOXW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPwhYlLuFN gp-relative gp-flex gp-flex-col"
    >
      
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if 'latest' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['']
                assign productId = 'latest' | times: 1
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == productId
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['']
              assign productId = 'latest' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gY2AG_HEQ1" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="gY2AG_HEQ1" data-id="gY2AG_HEQ1"   gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
       
      
    <div
      id="gY2AG_HEQ1" data-id="gY2AG_HEQ1-row"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:28px;--bbrr:28px;--btlr:28px;--btrr:28px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gY2AG_HEQ1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--o:0"
      class="grtlGi4C3C gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gKekG9OR_M">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gKekG9OR_M "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:37px;--mb-mobile:17px;--mb-tablet:38px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:454px;--w-tablet:454px;--w-mobile:164px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:500;--ls:0px;--size:37px;--size-tablet:37px;--size-mobile:13px;--lh:46px;--lh-tablet:Auto;--lh-mobile:16.02px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >{{ section.settings.ggKekG9OR_M_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g_HFpOaqcW" data-id="g_HFpOaqcW"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:72px;--mb-mobile:12px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_HFpOaqcW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQY-qNPnzt gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gQ1jGdqhPm" data-id="gQ1jGdqhPm"
        style="--bs:solid;--bw:0px 0px 1px 0px;--bc:rgba(0, 0, 0, 0.22);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQ1jGdqhPm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gi1KwAMFaW gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gpaZZK0_3J">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gpaZZK0_3J "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:19px;--size-tablet:18px;--size-mobile:7px;--lh:58px;--lh-tablet:58px;--lh-mobile:22.7px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggpaZZK0_3J_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gpaZZK0_3J">
        .gpaZZK0_3J {

}
.gpaZZK0_3J p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzH0vKDscp gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gYa7YNPMHn">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gYa7YNPMHn "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:7px;--lh:58px;--lh-tablet:58px;--lh-mobile:22.7px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pr:30px;--pr-mobile:11px;overflow:hidden"
        >{{ section.settings.ggYa7YNPMHn_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gYa7YNPMHn">
        .gYa7YNPMHn {

}
.gYa7YNPMHn p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g_erxlvxVT" data-id="g_erxlvxVT"
        style="--bs:solid;--bw:0px 0px 1px 0px;--bc:rgba(0, 0, 0, 0.22);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_erxlvxVT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZHnZMt6r9 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZDcBFftSz">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gZDcBFftSz "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:7px;--lh:58px;--lh-tablet:58px;--lh-mobile:22.7px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZDcBFftSz_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gZDcBFftSz">
        .gZDcBFftSz {

}
.gZDcBFftSz p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gm0F0HpWnF gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gx1vRBbg0I">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gx1vRBbg0I "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:7px;--lh:58px;--lh-tablet:58px;--lh-mobile:22.7px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pr:30px;--pr-mobile:11px;overflow:hidden"
        >{{ section.settings.ggx1vRBbg0I_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gx1vRBbg0I">
        .gx1vRBbg0I {

}
.gx1vRBbg0I p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gSYXtz16l1" data-id="gSYXtz16l1"
        style="--bs:solid;--bw:0px 0px 1px 0px;--bc:rgba(0, 0, 0, 0.22);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 9fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 8fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSYXtz16l1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPjuDVCtuX gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTsxhSBdNS">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gTsxhSBdNS "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:7px;--lh:58px;--lh-tablet:58px;--lh-mobile:22.7px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTsxhSBdNS_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gTsxhSBdNS">
        .gTsxhSBdNS {

}
.gTsxhSBdNS p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkCgi7j6u9 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gnWiug8qyw">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gnWiug8qyw "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:7px;--lh:58px;--lh-tablet:58px;--lh-mobile:22.7px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pr:30px;--pr-mobile:11px;overflow:hidden"
        >{{ section.settings.ggnWiug8qyw_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gnWiug8qyw">
        .gnWiug8qyw {

}
.gnWiug8qyw p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g29HB7T5Pk" data-id="g29HB7T5Pk"
        style="--bs:solid;--bw:0px 0px 1px 0px;--bc:rgba(0, 0, 0, 0.22);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g29HB7T5Pk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_eg48J2He gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g46Ju-3reY">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g46Ju-3reY "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:7px;--lh:58px;--lh-tablet:58px;--lh-mobile:22.7px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg46Ju-3reY_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g46Ju-3reY">
        .g46Ju-3reY {

}
.g46Ju-3reY p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFEsy1Fyum gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gOWsFhyzyw">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gOWsFhyzyw "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:7px;--lh:58px;--lh-tablet:58px;--lh-mobile:22.7px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pr:30px;--pr-mobile:11px;overflow:hidden"
        >{{ section.settings.ggOWsFhyzyw_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gOWsFhyzyw">
        .gOWsFhyzyw {

}
.gOWsFhyzyw p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gF21Uxc7Q0" data-id="gF21Uxc7Q0"
        style="--bs:none;--bw:0px 0px 1px 0px;--bc:rgba(0, 0, 0, 0.22);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gF21Uxc7Q0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMv8H5U7PC gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g7LTp_-Wsc">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g7LTp_-Wsc "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:7px;--lh:58px;--lh-tablet:58px;--lh-mobile:22.7px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg7LTp_-Wsc_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g7LTp_-Wsc">
        .g7LTp_-Wsc {

}
.g7LTp_-Wsc p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-JVvpEpU9 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gG5nPaKF5b">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gG5nPaKF5b "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:7px;--lh:58px;--lh-tablet:58px;--lh-mobile:22.7px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pr:30px;--pr-mobile:11px;overflow:hidden"
        >{{ section.settings.ggG5nPaKF5b_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gG5nPaKF5b">
        .gG5nPaKF5b {

}
.gG5nPaKF5b p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g0RDUakVTP" data-id="g0RDUakVTP"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0RDUakVTP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gBhGdsKmCF gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="grDFzRj2cK"
        class="grDFzRj2cK gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"regular","uid":"grDFzRj2cK","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%"
        data-hidden="false"
      >
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      id="p-price-grDFzRj2cK"
        class=" "
        
      >
      <div  >
        <div
          type="regular"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-money gp-decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1;--ts:none;--ta:left;--c:#7C855E;--ff:var(--g-font-heading, heading);--weight:500;--size:37px;--size-tablet:37px;--size-mobile:12px;--lh:46px;--lh-tablet:46px;--lh-mobile:Auto;word-break:break-word;overflow:hidden"
        >
     {% if variant.price %} 
       {{ variant.price | money}}
     {% endif %}
   </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gG5bqX2Vnt">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gG5bqX2Vnt "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:6px;--lh:Auto;--lh-tablet:Auto;--lh-mobile:Auto;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggG5bqX2Vnt_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gG5bqX2Vnt">
        .gG5bqX2Vnt {

}
.gG5bqX2Vnt p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gUzKw8KL7V gp-relative gp-flex gp-flex-col"
    >
      
   {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      class="gp-product-button"
      gp-data-wrapper="true"
      gp-label-out-of-stock="{{section.settings.ggBMQbqh5ZM_outOfStockLabel}}"
      gp-label-unavailable="{{section.settings.ggBMQbqh5ZM_unavailableLabel}}"
      gp-data='{"setting":{"actionEffect":"buy-now","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","enableSuccessMessage":false,"enableErrorMessage":false,"label":"buy now","outOfStockLabel":"Out of stock","errorType":"built-in","customURL":{"link":"/cart","target":"_self"}},"styles":{"errorTypo":{"attrs":{"color":"error"},"type":"paragraph-2"},"successTypo":{"attrs":{"color":"success"},"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}","totalVariant":"{{product.variants.size}}"}' 
       gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/cart"
       data-variant-selection-required-message="{{}}"
    >
        
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:right"
    class="{% unless variant.available %} !gp-hidden {% endunless %}"
  >
    <style>
    .gBMQbqh5ZM.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 67px;
      border-bottom-right-radius: 67px;
      border-top-left-radius: 67px;
      border-top-right-radius: 67px;
      
    }

    .gBMQbqh5ZM:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }

    .gBMQbqh5ZM:hover .gp-button-icon {
      color: undefined;
    }

     .gBMQbqh5ZM .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gBMQbqh5ZM:hover .gp-button-price {
      color: undefined;
    }

    .gBMQbqh5ZM .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gBMQbqh5ZM .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gBMQbqh5ZM:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="gBMQbqh5ZM" aria-label="buy now"
      name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
      data-state="idle"
      class="gBMQbqh5ZM gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-atc tcustomizer-submit-button"
      style="--hvr-bg:#7C855E;--bg:#7C855E;--bblr:67px;--bbrr:67px;--btlr:67px;--btrr:67px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:24px;--pb:24px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:24px;--pb-tablet:24px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:8px;--pb-mobile:8px;--c:var(--g-c-text-3, text-3);--size:34px;--size-tablet:35px;--size-mobile:11px;--ff:var(--g-font-body, body);--weight:600;--lh:43px;--lh-tablet:Auto;--lh-mobile:14.47px;--tt:uppercase"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]/button:gp-animate-spin group-data-[state=loading]/button:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:34px;--size-tablet:35px;--size-mobile:11px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggBMQbqh5ZM_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

        
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:right"
    class="{% if variant.available %} !gp-hidden {% endif %}"
  >
    <style>
    .gBMQbqh5ZM-sold-out.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 67px;
      border-bottom-right-radius: 67px;
      border-top-left-radius: 67px;
      border-top-right-radius: 67px;
      
    }

    .gBMQbqh5ZM-sold-out:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }

    .gBMQbqh5ZM-sold-out:hover .gp-button-icon {
      color: undefined;
    }

     .gBMQbqh5ZM-sold-out .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gBMQbqh5ZM-sold-out:hover .gp-button-price {
      color: undefined;
    }

    .gBMQbqh5ZM-sold-out .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gBMQbqh5ZM-sold-out .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gBMQbqh5ZM-sold-out:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gBMQbqh5ZM" aria-label="{{section.settings.ggBMQbqh5ZM_outOfStockLabel}}"
      gp-data-hidden="{% if variant.available %}true{% endif %}"
      data-state="idle"
      class="gBMQbqh5ZM-sold-out gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-sold-out btn-disabled gp-opacity-30 gp-cursor-default"
      style="--hvr-bg:#7C855E;--bg:#7C855E;--bblr:67px;--bbrr:67px;--btlr:67px;--btrr:67px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:24px;--pb:24px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:24px;--pb-tablet:24px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:8px;--pb-mobile:8px;--c:var(--g-c-text-3, text-3);--size:34px;--size-tablet:35px;--size-mobile:11px;--ff:var(--g-font-body, body);--weight:600;--lh:43px;--lh-tablet:Auto;--lh-mobile:14.47px;--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:34px;--size-tablet:35px;--size-mobile:11px;--c:var(--g-c-text-3, text-3)"
      >
        {{section.settings.ggBMQbqh5ZM_outOfStockLabel}}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
   
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:start;--o:1;--o-mobile:1"
      class="gZWyLrqrrb gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-557596267090281552 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/dev-gokhan/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=557596248333354064&sectionId=557596267090281552)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggKekG9OR_M_text","label":"ggKekG9OR_M_text","default":"<p>Buy It Today and Get10% Off&nbsp;Your First Order</p>"},{"type":"html","id":"ggpaZZK0_3J_text","label":"ggpaZZK0_3J_text","default":"<p>Wattage</p>"},{"type":"html","id":"ggYa7YNPMHn_text","label":"ggYa7YNPMHn_text","default":"<p>1200W</p>"},{"type":"html","id":"ggZDcBFftSz_text","label":"ggZDcBFftSz_text","default":"<p>Voltage</p>"},{"type":"html","id":"ggx1vRBbg0I_text","label":"ggx1vRBbg0I_text","default":"<p>60Hz.</p>"},{"type":"html","id":"ggTsxhSBdNS_text","label":"ggTsxhSBdNS_text","default":"<p>Dimensions</p>"},{"type":"html","id":"ggnWiug8qyw_text","label":"ggnWiug8qyw_text","default":"<p>249mm x 250mm x 450mm</p>"},{"type":"html","id":"gg46Ju-3reY_text","label":"gg46Ju-3reY_text","default":"<p>Weight</p>"},{"type":"html","id":"ggOWsFhyzyw_text","label":"ggOWsFhyzyw_text","default":"<p>4.4 Kg</p>"},{"type":"html","id":"gg7LTp_-Wsc_text","label":"gg7LTp_-Wsc_text","default":"<p>Capacity</p>"},{"type":"html","id":"ggG5nPaKF5b_text","label":"ggG5nPaKF5b_text","default":"<p>3000cc</p>"},{"type":"html","id":"ggG5bqX2Vnt_text","label":"ggG5bqX2Vnt_text","default":"<p>Inc. All Taxes</p>"},{"type":"html","id":"ggBMQbqh5ZM_label","label":"ggBMQbqh5ZM_label","default":"buy now"},{"type":"html","id":"ggBMQbqh5ZM_outOfStockLabel","label":"ggBMQbqh5ZM_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggBMQbqh5ZM_unavailableLabel","label":"ggBMQbqh5ZM_unavailableLabel","default":"Unavailable"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
